*{
    margin:0;
    padding: 0;
    box-sizing: 0;
    background-color: rgb(243, 241, 241);
}
/* logo */
.logo{
    width: 100%;
    background-color: white;
    margin-bottom: 30px;

}
/* fine logo */
.add{
    width: 70%;
    height: 40px;
    background-color: white;
    margin: 0 200px;
    padding-left: 60px;
    font-size: large;
    
}
/* addtask */
.addt{
    background-color: lightskyblue;
    margin: 10px 50px 10px 50px;
    border-radius: 20%;
    display: inline-block;
    
}
/* fineaddtask */

