* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* logo */
#logo {
    width: 100%;
    background-color: white;
    margin-bottom: 30px;

}

/* fine logo */
.add {
    width: 70%;
    height: 40px;
    background-color: white;
    margin: 0 200px;
    font-size: large;
    margin: 0px 0 5px 250px;
    padding-left: 50px;


}

/* addtask */
.addt {
    background-color: lightskyblue;
    width: 90px;
    height: 25px;
    margin: 10px 10px 0px 10px;
    border-radius: 15%;
    display: inline-block;
    text-align: center;
    font-size: medium;




}

/* fineaddtask */
.ligthblu {}
/* add section */
.white {
    background-color: white;
    border: 2px solid grey;
    border-radius: 15%;
    display: inline-block;
    text-align: center;
    font-size: medium;
    margin: 10px 10px 0px 5px;
    height: 25px;
    padding: 1px 5px;
}
/* fine add section */
/* lista forma */
.container{
    width: 70%;
    height: 500px;
    margin: 0px 0 5px 250px;
    background-color: white;
    padding: 20px;
    font-size: 20px;



}

.todos{
    list-style: none;

}
/* forma check */
.check{
    color: green;
    border: 2px solid green;
    border-radius: 100px;
    padding: 3px 6px;

}
.cross{
    color: red;
    border: 2px solid red;
    border-radius: 100px;
    padding: 3px 6px;
}
body{
    font-family: sans-serif;
}
.listaspace{
    margin-bottom: 10px;
}
.tag{

    width: 90px;
    height: 25px;
    line-height: 25px;
    margin: 10px 10px 0px 10px;
    border-radius: 20px;
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    font-size: medium;
    color: white;
}
.blu {
    background-color: blue;
}
.viola{
    background-color: blueviolet;
}
.verde{
    background-color: green;
}
.arancione{
    background-color: orange;
}
.rosa{
    background-color: pink;
}
.giallo{
    background-color: yellowgreen;
}
body{
    background-color: lightgray;
}
/* fine forma check */
/* finelista forma */
